<h3>Current Discounts</h3>

<% @bulk_discounts.each do |discount| %>
<div id="discount<%=discount.id%>"
  <li><%= number_to_percentage(discount.percentage_discount, precision: 0) %> off: <%= discount.quantity_threshold %> or more of one item </li>
  <%= link_to "Link to Discount ##{discount.id}", merchant_bulk_discount_path(discount.merchant_id, discount.id) %>
  <%= link_to "Delete ##{discount.id}", merchant_bulk_discount_path(discount.merchant_id, discount.id), method: :delete  %>
  </li>
<% end %>
</div>

<%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant.id) %>

<h3>Upcoming Holidays</h3>
<ol>
<% @holiday.upcoming_us_holidays.each do |holiday| %>
  <li><%= holiday[:name] %>, <%= holiday[:date] %></li>
<% end %>
</ol>
